@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.cobanking-container {
   margin: auto;
   width: 74%;
   min-width: 30vh;
}

.section-one {
   background-color: cyan;
   margin-top: 70px;
}

.section-one .main-text {
   background-color: red;
   width: 456px;
}

.section-one .main-text h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   font-size: 35px;
}