.terms-container {
   width: 80%;
   margin: auto;
   overflow: hidden;
   padding-top: 30px;
}

ol li {
   display: list-item;
}

p {
   padding-top: 5px;
   padding-bottom: 5px;
}

h4 {
   padding-left: 0;
}