.last-section {
    background-color: transparent;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .last-section {
        flex-direction: column;
    }
}

.last-section-text {
    /* width: 40%; */
    width: 400px;
    background: transparent;
    border-radius: 10px;
    background: transparent;
    /* padding: 30px 30px; */
}

@media (max-width: 768px) {
    .last-section-text {
        width: 90%;
    }
}

.last-section-text>h1 {
    font-weight: 600;
    font-size: 24px;
}

.last-section-text ul li {
    padding: 5px;
    margin: 0;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.last-section-image img {
    /* width: 300px; */
    /* background: #d9d9d9; */
    /* width: 300px; */
}

@media (max-width: 768px) {
    .last-section-image img {
        width: 100%;
    }
}