@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), url(/src/component/Images/Cooperative.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-section>h1 {
    color: white;
    font-size: 35px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.main-section>p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.second-section {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    margin-top: 50px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .second-section,
    .third-section {
        flex-wrap: wrap-reverse;
    }
    .second-section-text,
    .third-section-text {
        text-align: center;
        width: 100%;
    }
}

.second-section-text {
    background-color: transparent;
    width: 46%;
    height: 40%;
}

.second-section-text>h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 40px;
}

.second-section-text>p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 25px;
    padding-top: 26px;
}

.second-section>img {
    width: 460px;
    height: 358px;
    margin-left: 20px;
    /* margin-top: 85px; */
}

.third-section {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    margin-top: 20px;
}

.third-section-text {
    background-color: transparent;
    width: 46%;
    height: 40%;
}

.third-section-text>h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 40px;
}

.third-section-text>p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 25px;
    padding-top: 26px;
}

.third-section>img {
    width: 466px;
    height: 559px;
}

.fouth-section {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.last-section {
    background-color: transparent;
    width: 100%;
    height: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last-section>h1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-section {
    display: flex;
    font-size: 14px;
    justify-content: center;
    padding: 10px 20px;
}

.list-section ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-section ul li {
    padding-right: 40px;
}