.job-posting {
   margin: auto;
   width: 80%;
   padding-bottom: 120px;
}

.job-role {
   background-color: blue;
   padding: 50px;
   color: white;
   margin-bottom: 50px;
}

.role-overview {
   margin-bottom: 50px;
}

.responsibilities {
   margin-bottom: 80px;
}

.apply-now {
   background-color: blue;
   padding: 15px 30px;
   color: white;
   border-radius: 10px;
   margin-top: 50px;
   margin-left: 40%;
}

.apply-now:hover {
   background-color: blue;
   border: none;
}