.image3-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    height: 100%;
}

.image3-container .image3 {
    background: #d9d9d9;
    width: 90%;
    min-height: 50vh;
    height: 100%;
}