.career-section3 {
    width: 100%;
    min-height: 50vh;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.careerSection3-text {
    background-color: transparent;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .careerSection3-text {
        width: 100%;
    }
}

.careerSection3-text>h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #0d223d;
    font-size: 1.7rem;
}

.careerSection3-text>p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 38px;
    color: #0d223d;
    text-align: center;
}