@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.career-section {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/public/Images/career.png);
   width: 100%;
   min-height: 140vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.career-section>h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   font-size: 48px;
   color: white;
}

.career-section>p {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 60px;
   text-align: center;
   color: white;
   width: 864px;
}

.career-section2 {
   background-color: transparent;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
}

.career-section2>p {
   background-color: transparent;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 25px;
   line-height: 38px;
   width: 505px;
   margin-right: 80px;
}

/* .career-section2>img {
   
} */

.career-section3 {
   width: 100%;
   min-height: 100vh;
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
}

.career-section3 .video {
   background-color: gray;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 512px;
   height: 440px;
}

.careerSection3-text {
   background-color: transparent;
   width: 512px;
   margin-left: 90px;
}

.careerSection3-text>h2 {
   width: 312px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 32px;
}

.careerSection3-text>p {
   width: 505px;
   margin-top: 40px;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 25px;
   line-height: 38px;
}

.joinGeng-text {
   background-color: transparent;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 180px;
}

.joinGeng-text>h1 {
   font-family: 'Poppins';
   font-weight: 600;
   font-size: 40px;
}

.career-section4 {
   background-color: transparent;
   width: 100%;
   min-height: 70vh;
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-around;
   align-items: center;
   margin-top: 40px;
}

.career-section5 {
   background-color: #0D233D;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1156px;
   min-height: 100vh;
   margin-top: 50px;
   margin-bottom: 80px;
   margin-left: 120px;
   padding: 50px;
   border-radius: 20px;
}

.career-section5 .preparing-for-success {
   background-color: white;
   width: 535px;
   height: 535px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 5px;
}

.career-section5 .preparing-for-success>h2 {
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 30px;
   margin-left: -100px;
}

.career-section5 .preparing-for-success .paragraph-1 {
   width: 430px;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
}

.career-section5 .preparing-for-success .paragraph-2 {
   width: 430px;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
}



.career-section5 .preparing-for-success2 {
   background-color: white;
   width: 535px;
   height: 535px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.career-section5 .preparing-for-success2>ul {
   background-color: transparent;
   width: 431px;
   min-height: 80vh;
   margin-top: 140px;
}

.career-section5 .preparing-for-success2 ul li {
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   margin-top: -33px;
}

.career-section5 .preparing-for-success2 ul li>span {
   color: black;
   margin-left: -16px;
}

.career-section5 .preparing-for-success2 ul h5 {
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 15px;
   margin-top: -30px;
   margin-left: -16px;

}